@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.main-div{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    background-color: #000;
    position: fixed;
}

.intro-div{
    width: 60%;
    height: 70vh;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-text{
    font-size: 3rem;
}

.intro-text{
    font-size: 1.5rem;
}

.image-div{
    width: 40%;
    height: 70vh;
}

.image{
    width: 50%;
    height: 40vh;
    margin: 15% 0% 0% 8%;
    border-radius: 50%;
    border: .5rem #fff dotted;
}

@media only screen and (max-width:  768px) {
    .main-div{
        display: flex;
        display: block;
        flex-direction: column;
    }

    .intro-div{
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .image-div{
        display: none;
    }

    .image{
        width: 100%;
        height: auto;
        border: .3rem #2F8F9D dotted;
    }
}

@media only screen and (max-width:  426px) {
    .name-text{
        font-size: 2rem;
    }
}